{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h1>CPU List</h1>

  {% if cpu_list %}
    <ul class="list-group mt-4">
      {% for cpu in cpu_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <a href="{{ cpu.get_absolute_url }}" class="text-decoration-none">{{ cpu.name }}</a>
          <span class="badge bg-primary">{{cpu.brand.all|join:", " }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-info mt-4" role="alert">
      No CPUs currently available.
    </div>
  {% endif %}
</div>
{% endblock %}