{% extends "base.html" %}
{% block title %}
<title>PC Part Component WebApp</title>
{% endblock %}
{% block content %}
<div class="container border border-dark mt-3 pt-2">
  <h1 class="center"><strong>PC Component Builder</strong></h1>
  <p class="center">A webapp created by Aiden Rinas, Ben Newland, Isaac Huntington, and Cole Johnson.</p>
</div>
<br><br>
{% if user.is_authenticated %}
<div class="container border border-dark pt-3 pb-2">
    <h3 class="center"><a class="btn btn-primary btn-lg" href="{% url 'builds' %}">Check out your builds!</a></h3>
</div>
{% else %}
<div class="container border border-dark p-3">
    <h3 class="center">If you're new to this webapp, click <a href="{% url 'register' %}">here.</a></h3>
    <h3 class="center">If you're a returning user, click <a href="{% url 'login' %}?next={{ request.path }}">here.</a></h3>
</div>
{% endif %}
<br><br>
<div class="container border border-dark p-3 mb-5">
    <h1>Parts</h1>
    <ul>
        <li><a class="btn btn-dark btn-lg m-3" href="{% url 'cpu-list' %}">CPUs</a></li>
        <li><a class="btn btn-dark btn-lg m-3" href="{% url 'gpu-list' %}">GPUs</a></li>
        <li><a class="btn btn-dark btn-lg m-3" href="{% url 'storage-list' %}">Storage Devices</a></li>
        <li><a class="btn btn-dark btn-lg m-3" href="{% url 'ram-list' %}">RAM</a></li>
    </ul>
</div>
{% endblock %}